@model OpcaoTelaUsuarioDto

<h1>Cadastro de OpcaoTelaUsuario</h1>

<form id="opcaoTelaUsuarioForm">
    <div class="form-group">
        <label asp-for="OpcaoTelaUsuario.IdOpcao" class="control-label">IdOpcao</label>
        <select asp-for="OpcaoTelaUsuario.IdOpcao" asp-items="@(new SelectList(Model.Opcoes,"Id","Rota"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="OpcaoTelaUsuario.IdTela" class="control-label">IdTela</label>
        <select asp-for="OpcaoTelaUsuario.IdTela" asp-items="@(new SelectList(Model.Telas,"Id","Rota"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="OpcaoTelaUsuario.IdUsuario" class="control-label">IdOpcao</label>
        <select asp-for="OpcaoTelaUsuario.IdUsuario" asp-items="@(new SelectList(Model.Usuarios,"Id","Login"))" class="form-control"></select>
    </div>
    <button type="button" class="btn btn-primary" onclick="opcaoTelaUsuario.registrar('opcaoTelaUsuarioForm', 'cadastrar')">Cadastrar</button>
</form>

@section scripts {
    <script src="~/js/Pages/opcaoTelaUsuario.js" asp-append-version="true"></script>
    <script>
        $(function () {
            opcaoTelaUsuario.init({
                urls: {
                    cadastrar: '@Url.Action("cadastrar", "opcao-tela-usuario")',
                    index: '@Url.Action("Index", "opcao-tela-usuario")'
                }
            });
        });
    </script>
}

