@* @model OpcaoTelaUsuario *@


@model OpcaoTelaUsuario

  @* <form id="formOpcaoTelaUsuario" onsubmit="opcaoTelaUsuario.cadastrar()">
  <fieldset>
    <legend>Legend</legend>
    <div class="form-group">
      <label class="form-label mt-4">Floating labels</label>
      <div class="form-floating mb-3">
        <input name="idOpcao" type="number" class="form-control" placeholder="numero">
        <label for="idOpcao">idOpcao</label>
      </div>
      <div class="form-floating mb-3">
        <input name="idTela" type="number" class="form-control" placeholder="numero">
        <label for="idTela">idTela</label>
      </div>
      <div class="form-floating mb-3">
        <input name="idUsuario" type="number" class="form-control" placeholder="numero">
        <label for="idUsuario">idUsuario</label>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" ></input>
  </fieldset>
</form> *@



@using (Html.BeginForm("cadastrar", "opcao-tela-usuario", FormMethod.Post, new { id = "formCadastro" }))
{
    @Html.LabelFor(model => model.IdOpcao);
    @Html.TextBoxFor(model => model.IdOpcao);

    @Html.LabelFor(model => model.IdTela);
    @Html.TextBoxFor(model => model.IdTela);

    @Html.LabelFor(model => model.IdUsuario);
    @Html.TextBoxFor(model => model.IdUsuario);

    <button type="button" onclick="opcaoTelaUsuario.cadastrar()">Submit</button>
}

<script src="~/js/Pages/opcaoTelaUsuario.js" asp-append-version="true"></script>
<script>
    opcaoTelaUsuario.init({
        urls: {
            cadastrar: '@Url.Action("cadastrar", "opcao-tela-usuario")'
        }
    });
</script>


