@model IEnumerable<OpcaoTelaUsuario>

<h1>OpcoesTelaUsuario</h1>

<a asp-controller="opcao-tela-usuario" asp-action="cadastrar" class="btn btn-primary">Cadastrar Nova OpcaoTelaUsuario</a>

@if (!Model.Any())
{
    <p>Nenhuma opcaoTelaUsuario cadastrada.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>IdOpcao</th>
                <th>IdTela</th>
                <th>IdUsuario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var opcaoTelaUsuario in Model)
            {
                <tr>
                    @if (opcaoTelaUsuario.Opcao != null)
                    {
                        <td>@opcaoTelaUsuario.Opcao.Rota</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (opcaoTelaUsuario.Tela != null)
                    {
                        <td>@opcaoTelaUsuario.Tela.Rota</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (opcaoTelaUsuario.Usuario != null)
                    {
                        <td>@opcaoTelaUsuario.Usuario.Login</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>
                        <a asp-controller="opcao-tela-usuario" asp-action="editar" asp-route-id="@opcaoTelaUsuario" class="btn btn-primary">Editar</a>
                        <a asp-controller="opcao-tela-usuario" asp-action="excluir" asp-route-id="@opcaoTelaUsuario" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}