@model IEnumerable<Core.Models.Tarefa>
<head>
    <link rel="stylesheet" href="~/css/Pages/tarefa.css" asp-append-version="true" />
</head>

<section class="container-visor">
    <form id="visorForm" action="submit">
        <div class="visor form-group d-flex">
            <div class="visor-cronometro">
                <h1 id="relogio" class="cronometro">00.00.00</h1>
                <div id="botoesCadastrar" class="botoes-relogio">
                    <button class="botao-relogio botao-cad btn btn-success" type="button" onclick="tarefa.hideCadastrar()">
                        <p>+</p>
                    </button>
                    <button style="display: none;" class="botao-relogio botao-cad btn btn-success" type="button" onclick="tarefa.fnCadastrarAtividade()">
                        <p>x</p>
                    </button>
                </div>
                <div class="botoes-relogio" style="display: none;">
                    <button id="botaoInicio" class="botao-relogio" type="button" onclick="tarefa.fnFinalizarAtividade()">
                        <img src="~/img/Tarefa/play.svg">
                    </button>
                    <button class="botao-relogio" type="button" onclick="tarefa.playPause()">
                        <img src="~/img/Tarefa/pause.svg">
                    </button>
                    <button style="display: none;" class="botao-relogio" type="button" onclick="tarefa.playPause()">
                        <img src="~/img/Tarefa/play.svg">
                    </button>
                    <button class="botao-relogio" type="submit" onclick="tarefa.cadastrar()">
                        <img src="~/img/Tarefa/stop.svg">
                    </button>
                </div>
            </div>
        </div>
        <div id="formCadastro" style="display: none;"></div>
    </form>
</section>

<section>
    <div id="tabelaTarefas" class="table-responsive-sm">
        <table class="table table-hover">
            <thead class="table-success">
                <tr>
                    <th scope="col" class="col-xs-2">
                        @Html.DisplayNameFor(Model => Model.Atividade)
                    </th>
                    <th scope="col" class="col-xs-2">
                        @Html.DisplayNameFor(Model => Model.TipoAtividade)
                    </th>
                    <th scope="col" class="col-xs-2">
                        @Html.DisplayNameFor(Model => Model.Plataforma)
                    </th>
                    <th scope="col" class="col-xs-2">
                        @Html.DisplayNameFor(Model => Model.TempoTarefa)
                    </th>
                    <th scope="col" class="col-xs-2">
                        @Html.DisplayNameFor(Model => Model.DataCadastro)
                    </th>
                    <th scope="col" class="col-xs-2">
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr class="tabela-usuario">
                    <td class="col-xs-2">
                        @item.Atividade
                    </td>
                    <td class="col-xs-2">
                        @item.TipoAtividade
                    </td>
                    <td class="col-xs-2">
                        @item.Plataforma
                    </td>
                    <td class="col-xs-2">
                        @item.TempoTarefa.ToString("HH:mm:ss")
                    </td>
                    <td class="col-xs-2">
                        @item.DataCadastro.ToString("dd/MM/yyyy")
                    </td>
                    <td class="col-xs-2">
                        <a class="botao-ion"  asp-action="Editar" asp-route-id="@item.Id"><ion-icon class="ion-icon" style="color: blue;" name="pencil-outline"></ion-icon></a>
                        <a class="botao-ion" asp-action="Detalhes" asp-route-id="@item.Id"><ion-icon class="ion-icon" style="color: green;" name="document-text-outline"></ion-icon></a>
                        <a class="botao-ion" asp-action="Excluir" asp-route-id="@item.Id"><ion-icon class="ion-icon" style="color: red;" name="trash-outline"></ion-icon></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>

<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="~/js/Pages/tarefa.js" asp-append-version="true"></script>
<script>
    tarefa.init({
        urls: {
            cadastrar: '@Url.Action("cadastrar", "tarefa")',
            index: '@Url.Action("index", "tarefa")'
        }
    });
    tarefa.getCadastrar();
</script>