@model IEnumerable<Core.Models.Tarefa>
<head>
    <link rel="stylesheet" href="~/css/Pages/tarefa.css" asp-append-version="true" />
</head>

<section>
    <div id="formCadastro">

    </div>
    
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead class="table-success">
                <tr>
                    <th scope="col" class="col-xs-1">
                        @Html.DisplayNameFor(Model => Model.Usuario.Login)
                    </th>
                    <th scope="col" class="col-xs-2">
                        @Html.DisplayNameFor(Model => Model.Atividade)
                    </th>
                    <th scope="col" class="col-xs-2">
                        @Html.DisplayNameFor(Model => Model.TipoAtividade)
                    </th>
                    <th scope="col" class="col-xs-2">
                        @Html.DisplayNameFor(Model => Model.Plataforma)
                    </th>
                    <th scope="col" class="col-xs-1">
                        @Html.DisplayNameFor(Model => Model.TempoTarefa)
                    </th>
                    <th scope="col" class="col-xs-1">
                        @Html.DisplayNameFor(Model => Model.DataCadastro)
                    </th>
                    <th scope="col" class="col-xs-1">
                        Editar
                    </th>
                    <th scope="col" class="col-xs-1">
                        Detalhes
                    </th>
                    <th scope="col" class="col-xs-1">
                        Excluir
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr class="tabela-usuario">
                    <th scope="row" class="col-xs-1">
                        @item.Usuario?.Login
                    </th>
                    <td class="col-xs-2">
                        @item.Atividade
                    </td>
                    <td class="col-xs-2">
                        @item.TipoAtividade
                    </td>
                    <td class="col-xs-2">
                        @item.Plataforma
                    </td>
                    <td class="col-xs-1">
                        @item.TempoTarefa.ToString("HH:mm:ss")
                    </td>
                    <td class="col-xs-1">
                        @item.DataCadastro.ToString("dd/MM/yyyy")
                    </td>
                    <td class="col-xs-1">
                        <a asp-action="Editar" asp-route-id="@item.Id"><ion-icon style="color: blue;" name="pencil-outline"></ion-icon></a>
                    </td>
                    <td class="col-xs-1">
                        <a asp-action="Detalhes" asp-route-id="@item.Id"><ion-icon style="color: green;" name="document-text-outline"></ion-icon></a>
                    </td>
                    <td class="col-xs-1">
                        <a asp-action="Excluir" asp-route-id="@item.Id"><ion-icon style="color: red;" name="trash-outline"></ion-icon></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>

<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="~/js/Pages/tarefa.js" asp-append-version="true"></script>
<script>
    tarefa.init({
        urls: {
            cadastrar: '@Url.Action("cadastrar", "tarefa")',
            index: '@Url.Action("index", "tarefa")'
        }
    });
    tarefa.getCadastrar();
</script>