@model IEnumerable<Tarefa>
<head>
    <link rel="stylesheet" href="~/css/Pages/tarefa.css" asp-append-version="true" />
</head>


<div>
    <p>
        @ViewBag.controller
    </p>    
</div>
<section class="container-visor">
    <form id="visorForm" action="submit">
        <div class="visor form-group d-flex">
            <div class="visor-cronometro">
                <h1 id="relogio" class="cronometro">00:00:00</h1>
                <div id="botoesCadastrar" class="botoes-relogio">
                    @if (ViewBag.IdUsuarioLogado == 1)
                    {
                    <button class="botao-relogio botao-cad btn btn-success" type="button" onclick="tarefa.hideCadastrar()">
                        <p>+</p>
                    </button>
                    }
                    <button style="display: none;" class="botao-relogio botao-cad btn btn-success" type="button" onclick="tarefa.fnCadastrarAtividade()">
                        <p>x</p>
                    </button>
                </div>
                <div class="botoes-relogio" style="display: none;">
                    <button id="botaoInicio" class="botao-relogio" type="button" onclick="tarefa.fnFinalizarAtividade()">
                        <img src="~/img/Tarefa/play.svg">
                    </button>
                    <button class="botao-relogio" type="button" onclick="tarefa.playPause()">
                        <img src="~/img/Tarefa/pause.svg">
                    </button>
                    <button style="display: none;" class="botao-relogio" type="button" onclick="tarefa.playPause()">
                        <img src="~/img/Tarefa/play.svg">
                    </button>
                    <button class="botao-relogio" type="submit" onclick="tarefa.cadastrar()">
                        <img src="~/img/Tarefa/stop.svg">
                    </button>
                </div>
            </div>
        </div>
        <div id="formCadastro" style="display: none;"></div>
    </form>
</section>

<section>
    <div id="tabelaTarefas" class="table-responsive-sm">
        <table class="tabelaTarefas table table-hover">
            <thead class="table-success">
                <tr>
                    <th scope="col" class="col-xs-2" ordenar="Atividade" onclick="tarefa.ordenarTabela('Atividade')">
                        <span class="header-text">Atividade</span>
                        <span class="sort-icon"></span>
                    </th>
                    <th scope="col" class="col-xs-2" ordenar="TipoAtividade" onclick="tarefa.ordenarTabela('TipoAtividade')">
                        <span class="header-text">Tipo da Atividade</span>
                        <span class="sort-icon"></span>
                    </th>
                    <th scope="col" class="col-xs-2" ordenar="Plataforma" onclick="tarefa.ordenarTabela('Plataforma')">
                        <span class="header-text">Plataforma</span>
                        <span class="sort-icon"></span>
                    </th>
                    <th scope="col" class="col-xs-2" ordenar="TempoTarefa" onclick="tarefa.ordenarTabela('TempoTarefa')">
                        <span class="header-text">Tempo</span>
                        <span class="sort-icon"></span>
                    </th>
                    <th scope="col" class="col-xs-2" ordenar="DataCadastro" onclick="tarefa.ordenarTabela('DataCadastro')">
                        <span class="header-text">Data da Atividade</span>
                        <span class="sort-icon"></span>
                    </th>
                    <th scope="col" class="col-xs-2">
                    </th>
                </tr>
            </thead>
            <tbody class="corpo-tabela-tarefas">
                @foreach (var item in Model)
                {
                    <tr class="linha tabela-tarefas">
                        <td class="col-xs-2" ordenado="Atividade">
                            @item.Atividade
                        </td>
                        <td class="col-xs-2" ordenado="TipoAtividade">
                            @item.TipoAtividade
                        </td>
                        <td class="col-xs-2" ordenado="Plataforma">
                            @item.Plataforma
                        </td>
                        <td class="col-xs-2" ordenado="TempoTarefa">
                            @item.TempoTarefa.Hours.ToString("D2"):@item.TempoTarefa.Minutes.ToString("D2"):@item.TempoTarefa.Seconds.ToString("D2")
                        </td>
                        <td class="col-xs-2" ordenado="DataCadastro">
                            @item.DataCadastro.ToString("dd/MM/yyyy")
                        </td>
                        <td class="col-xs-2">
                            <a class="botao-ion" asp-controller="tarefa" asp-action="editar" asp-route-id="@item.Id"><ion-icon class="ion-icon" style="color: blue;" name="pencil-outline"></ion-icon></a>
                            <a class="botao-ion" asp-controller="tarefa" asp-action="detalhes" asp-route-id="@item.Id"><ion-icon class="ion-icon" style="color: green;" name="document-text-outline"></ion-icon></a>
                            <a class="botao-ion" asp-controller="tarefa" asp-action="excluir" asp-route-id="@item.Id"><ion-icon class="ion-icon" style="color: red;" name="trash-outline"></ion-icon></a>                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="~/js/Pages/tarefa.js" asp-append-version="true"></script>
<script>
    tarefa.init({
        urls: {
            cadastrar: '@Url.Action("cadastrar", "tarefa")',
            index: '@Url.Action("index", "tarefa")'
        }
    });
    tarefa.getCadastrar();
</script>