@model Usuario
@{
    ViewData["Title"] = "Excluir";
}

@ViewBag.Path
<h1>@ViewData["Title"]</h1>
<h4>Tem certeza que quer excluir este usuario?</h4>
<hr />
<dl class="row">
  <dt class="col-sm-1">
    @Html.DisplayNameFor(Model => Model.Nome)
  </dt>
  <dd class="col-sm-11">
    @Html.DisplayFor(Model => Model.Nome)
  </dd>
  <dt class="col-sm-1">
    @Html.DisplayNameFor(Model => Model.Login)
  </dt>
  <dd class="col-sm-11">
    @Html.DisplayFor(Model => Model.Login)
  </dd>
  <dt class="col-sm-1">
    @Html.DisplayNameFor(Model => Model.Email)
  </dt>
  <dd class="col-sm-11">
    @Html.DisplayFor(Model => Model.Email)
  </dd>
  <dt class="col-sm-1">
    @Html.DisplayNameFor(Model => Model.DataCadastro)
  </dt>
  <dd class="col-sm-11">
    @Html.DisplayFor(Model => Model.DataCadastro)
  </dd>
</dl>
<form  id="formExcluirUsuario" onsubmit="usuario.excluir()">
  <input type="hidden" asp-for="Id" />
  <input type="submit" value="Excluir" class="btn btn-danger" />
  <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>
    <script src="~/js/Pages/usuario.js" asp-append-version="true"></script>
<script>
    usuario.init({
        urls: {
            excluir: '@Url.Action("excluir", "usuario")',
            index: '@Url.Action("inicio", "usuario")'
        }
    })
</script>