@{
    Layout = null;
}

@model IEnumerable<Permissao>

@ViewBag.Path
<form id="formEditarPermissoes">
    <h1>Permissões</h1>

    <div class="accordion" id="permissionsAccordion">
        @foreach (var controlador in Model.Select(p => p.Controlador).Distinct())
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="header_@controlador.Nome">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@controlador.Nome" aria-expanded="false" aria-controls="collapse_@controlador.Nome">
                        @controlador.Nome
                    </button>
                </h2>
                <div id="collapse_@controlador.Nome" class="accordion-collapse collapse" aria-labelledby="header_@controlador.Nome" data-bs-parent="#permissionsAccordion">
                    <div class="accordion-body">
                            <input type="hidden" asp-for="@Model.FirstOrDefault().IdUsuario" />
                            <input type="hidden" asp-for="@Model.FirstOrDefault().IdControlador" />
                            @foreach (var permissao in Model.Where(p => p.Controlador == controlador))
                            {
                                <form id="formMudaPermissoes">
                                    <div class="form-check">
                                        <input type="hidden" asp-for="@permissao.Id" />
                                        <input type="hidden" asp-for="@permissao.IdAcao" />
                                        <input type="hidden" asp-for="@permissao.Acesso" />
                                        <label asp-for="@permissao.Acesso" class="form-check-label ms-2">@permissao.Acao.Nome</label>
                                        <input asp-for="@permissao.Acesso" class="form-check-input" type="checkbox" onclick="permissao.addPermissao('@permissao.Id', '@permissao.IdUsuario', '@permissao.IdControlador', '@permissao.IdAcao', this.checked)" />
                                    </div>
                                </form>
                            }
                    </div>
                </div>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary" onclick="permissao.fnSubmitar('', 'editar')">Salvar</button>
</form>
